network:
  version: 2
  renderer: networkd
  ethernets:
    {{ wan_interface }}:
      dhcp4: yes
      dhcp6: yes
    {{ lan_interface }}:
      dhcp4: no
      dhcp6: no
  bridges:
    virbr-wan:
      interfaces: [{{ wan_interface }}]
      dhcp4: no
      dhcp6: no
    virbr-lan:
      interfaces: [{{ lan_interface }}]
      dhcp4: no
      dhcp6: no 