#cloud-config
network:
  version: 2
  ethernets:
{% for iface in item.interfaces %}
    {{ iface.name }}:
      match:
        macaddress: "{{ iface.hwaddr }}"
      set-name: {{ iface.name }}
      addresses:
        - {{ item.ip }}/24
      gateway4: 10.60.1.1
      nameservers:
        addresses:
{% for dns in harvester_dns_servers %}
          - {{ dns }}
{% endfor %}
      mtu: 1500
      dhcp4: false
      dhcp6: false
{% endfor %}

{% if harvester_storage_network.enabled %}
  vlans:
    vlan{{ harvester_storage_network.vlan }}:
      id: {{ harvester_storage_network.vlan }}
      link: {{ item.interfaces[0].name }}
      addresses:
        - {{ harvester_storage_network.cidr | ipaddr(loop.index + 10) | ipaddr('address') }}/{{ harvester_storage_network.cidr | ipaddr('prefix') }}
      mtu: 1500
{% endif %}