#cloud-config
hostname: {{ vyos_vm.name }}
manage_etc_hosts: true

users:
  - name: {{ vyos_admin_user }}
    sudo: ALL=(ALL) ALL
    groups: sudo
    shell: /bin/vbash
    lock_passwd: false
    plain_text_passwd: {{ vyos_admin_password }}
    ssh_authorized_keys:
      - {{ vyos_ansible_ssh_key }}

write_files:
  - path: /config/scripts/vyos-postconfig-bootup.script
    owner: root:vyattacfg
    permissions: '0755'
    content: |
      #!/bin/vbash
      source /opt/vyatta/etc/functions/script-template
      
      # Configure VLANs with domains
{% for vlan in vyos_vlan_networks %}
      set interfaces ethernet eth1 vif {{ vlan.vlan_id }} address '{{ vlan.gateway }}/{{ vlan.subnet.split('/')[1] }}'
      set interfaces ethernet eth1 vif {{ vlan.vlan_id }} description '{{ vlan.description }}'
      
      # Configure DHCP for VLAN {{ vlan.name }}
{% if vlan.dhcp_enabled %}
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }}
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }} default-router '{{ vlan.gateway }}'
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }} name-server '{{ vlan.dns_servers | join(' ') }}'
{% if vlan.domain is defined %}
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }} domain-name '{{ vlan.domain }}'
{% endif %}
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }} range 0 start '{{ vlan.dhcp_range.split('-')[0] }}'
      set service dhcp-server shared-network-name {{ vlan.name }} subnet {{ vlan.subnet }} range 0 stop '{{ vlan.dhcp_range.split('-')[1] }}'
{% endif %}
      
{% if vlan.domain is defined %}
      # Configure DNS for domain {{ vlan.domain }}
      set system static-host-mapping host-name {{ vlan.name }}.{{ vlan.domain }} inet {{ vlan.gateway }}
{% endif %}
      
{% endfor %}
      
      commit
      save
