#cloud-config
vyos_config_commands:
  # System configuration
  - set system host-name '{{ vyos_vm.name | default("vyos-router") }}'
  - set system time-zone 'UTC'
  
  # Temporary user for initial access
  - set system login user vyos authentication plaintext-password 'temp-{{ lookup('password', '/dev/null length=16') }}'
  - set system login user vyos authentication public-keys ansible type 'ssh-ed25519'
  - set system login user vyos authentication public-keys ansible key '{{ vyos_ansible_ssh_key }}'
  
  # Basic interface configuration
  - set interfaces ethernet eth0 description 'WAN'
  - set interfaces ethernet eth0 address 'dhcp'
  - set interfaces ethernet eth1 description 'LAN'
  - set interfaces ethernet eth1 address '{{ vyos_vm_ip }}/24'
  
  # Enable SSH
  - set service ssh port '{{ vyos_ssh_port }}'
  - set service ssh disable-password-authentication
  
  # DNS servers
  - set system name-server '{{ vyos_dns_servers[0] }}'
  - set system name-server '{{ vyos_dns_servers[1] }}'
  
  # Basic temporary NAT for initial setup
  - set nat source rule 100 description 'NAT for LAN'
  - set nat source rule 100 outbound-interface 'eth0'
  - set nat source rule 100 source address '192.168.122.0/24'
  - set nat source rule 100 translation address 'masquerade'
  
  # Save configuration
  - commit
  - save