# Delete all existing rules
-D

# Buffer Size (reduced to reasonable size)
-b 1024

# Monitor host system authentication
-w /etc/passwd -p wa -k host_auth_changes
-w /etc/shadow -p wa -k host_auth_changes
-w /etc/sudoers -p wa -k host_auth_changes

# Monitor libvirt configuration on host
-w /etc/libvirt/ -p wa -k host_vm_config_changes
-w /var/lib/libvirt/ -p wa -k host_vm_data_changes 